<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>管理证书</title>
  <link rel="stylesheet" href="static/css/index.css">

<style>
    .logout>button{
        background-color: rgb(118, 136, 215);
        font-size: 20px;
    }
    .logout{
        border: 1px white solid;
        display: inline-block;
        position: absolute;
        right: 20px;
    }
</style>
</head>
 
<body>
    <!-- <form action=""> -->
        <div class="logout">
            <span style="color: white;font-weight: bolder; margin: 0;">欢迎你&nbsp;{{username}}</span>
            <button   onclick="cclick()" >Logout</button>
            <script>
                function cclick(){
                    alert("登出当前用户");
                    window.location.href = 'login';
                }
            </script>
        </div>
    <!-- </form> -->

  <div class='card-holder'>
    <div class='card-wrapper'>
        <a href=''>
            <div class='card bg-01'>
                <span class='card-content'>添加水印</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='/watermark_trace'>
            <div class='card bg-02'>
                <span class='card-content'>水印提取</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='/management'>
            <div class='card bg-03'>
                <span class='card-content'>证书管理</span>
            </div>
        </a>
    </div>
                <!--侧边栏 -->
    <!-- <div class='card-wrapper'>
        <a href='#'>
            <div class='card bg-05'>
                <span class='card-content'>menu item #5</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#'>
            <div class='card bg-06'>
                <span class='card-content'>long menu item #1</span>
            </div>
        </a>
    </div> -->
  </div>
  <div class="box">
    <div class="header">
        <h1>证书管理</h1>
        <div class="user-info">
            <span id="logged-in-user"></span>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="搜索证书...">
        <button id="search-button">搜索</button>
    </div>
    <div id="certificate-list">
        <table id="certificate-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <!-- 证书列表将在这里动态生成 -->
            </tbody>
        </table>
    </div>
  </div>


  <div class="msg_box">
    <div class="msg_btn_box">
      CopyRight 2024, by 天才 team All Rights Reserved.
    </div>
  </div>            <!--版权声明 -->
</body>
 
</html>