<!DOCTYPE html>
<html>
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>水印提取</title>
  <link rel="stylesheet" href="static/css/index.css">
  <style>
    .logout>button{
        background-color: rgb(118, 136, 215);
        font-size: 20px;
    }
    .logout{
        border: 1px white solid;
        display: inline-block;
        position: absolute;
        right: 20px;
    }
</style>
</head>
<body>
    <div class="logout">
        <button   onclick="cclick()" >Logout</button>
        <script>
            function cclick(){
                alert("登出当前用户");
                window.location.href = 'login';
            }
        </script>
    </div>
    <div class='card-holder'>
        <div class='card-wrapper'>
            <a href='../'>
                <div class='card bg-01'>
                    <span class='card-content'>添加水印</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='/watermark_trace'>
                <div class='card bg-02'>
                    <span class='card-content'>水印追踪</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='/project_introduce'>
                <div class='card bg-03'>
                    <span class='card-content'>项目介绍</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='/project_member'>
                <div class='card bg-04'>
                    <span class='card-content' >项目成员</span>
                </div>
            </a>
        </div>
    </div>
    <!--侧边栏 -->
    <div class="box">
        <img src="../static/head.png" alt="">
        <form action="http://127.0.0.1:8080/extract" target="_blank" method="POST"enctype="multipart/form-data">
            <p class="fil">需提取水印的图片 ： <input type="file" name="file" ></p>
            <p class="tex"><input type="text" name="password_img" value="" placeholder="密钥"></p>
            <p class="tex"><input type="text" name="wm_size" value="" placeholder="水印长度"></p>
            <span class="bottom"><input type="submit" value="提交"></span>
        </form>                   <!--表单 -->
    </div>

    <div class="msg_box">
      <div class="msg_btn_box">
        CopyRight 2023, by yinzong team All Rights Reserved.
      </div>
    </div>
    <!--版权声明 -->
</body>